/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    scroll-behavior: smooth;
    size: 16px;
}

body {
    background-color: #edf2f4;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    max-width: 100rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "header header header header"
    "tagline tagline tagline tagline"
    "homes homes homes homes"
    "review-header review-header review-header review-header"
    "testimonials testimonials testimonials testimonials"
    "footer footer footer footer";
}

.homepage {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    height:fit-content;
    position: relative;
    grid-area: header;
}

.title {
    position: absolute;
    bottom: 60%;
    font-weight: 100;
    color: white;
    font-size: 4rem;
}

.title2 {
    font-weight: 900;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.tagline {
    margin: 2em 10% 0 10%;
    width: 75%;
    grid-area: tagline;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.11);
}

.tag {
    font-weight: 300;
    font-size: 2.5rem;
}

.line {
    padding-top: 1%;
    width: 100%;
    font-weight: 100;
    font-size: 0.5em;
    line-height: 1.5em;
}

.home-selection {
    gap: 1em;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-area: homes;
    width: 95%;
    height: auto;
    padding-bottom: 3rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.11);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "single multi";
}

a.single-family {
    grid-area: single;
    height: auto;

    display: flex;
}

a.multi-family {
    grid-area: multi;
    height: auto;

    display: flex;
}

a.single-family,
a.multi-family {
    display: flex block;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
} 

img.multi,
img.single,
p.multifamily,
p.singlefamily {
    width: 40rem;
}

h3.reviews {
    margin: 0 0 3rem 0;
    grid-area: review-header;
    height: auto;
    text-align: center;
    font-size: 3em;
    font-weight: 100;
}

img.multi,
img.single {
    width: 100%;
}

a.home {
    transition: transform 0.5s, filter 0.5s;
    filter:brightness(75%);
}

a.home:hover {
    transform: translateY(-1%);
    filter:brightness(100%);
}

.testimonials {
    grid-area: testimonials;
    gap: 2em;
    height: 5rem;
    height: auto;
    display: flex;
    margin: 0 2rem 3rem 2rem;
}

.review1,
.review2,
.review3 {
    background-color: #d9c8b0;
    border-radius: 1em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1em 0 1em 0;
    filter: opacity(0.7);
    box-shadow: 0.1em 1em 4em -1em #bdae99;
    transition: transform 0.5s, background-color 0.5s;
}

footer.owner {
    font-style: normal;
    font-weight: 600;
}

.review1:hover,
.review2:hover,
.review3:hover {
    transform:translateY(-3%);
    background-color: #E7D7C1;
} 

.headerImage {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    filter: opacity(90%);
}

h3.styles {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0.5em;
}

p#singlefamily,
p#multifamily {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

blockquote.item {
    text-align: center;
    width: 75%;
    line-height: 2em;
    font-style: italic;
}

.footer {
    height: auto;
    width: 100%;
    grid-area: footer;
    background-color: #3d405b;
    color: white;
    font-weight: 100;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "statement arrow navbar"
    "legal legal navbar";
}

.statement {
    grid-area: statement;
    font-weight: 300;
    font-size: 3em;
    padding: 1em 2em 0 1em;
    width: 80%;
    height: auto;
}

.navbar {
    grid-area: navbar;
    width: auto;
    display: flex;
    place-content: center;
    margin-top: 1em;
    border-left: 1px solid white;
    height: 150px;
    font-size: 1.5rem;
}

.link {
    color: rgb(210, 210, 210);
    font-size: 1.5em;
}

.link:hover {
    color: white;
}

.legal {
    grid-area: legal;
    display: flex;
    align-items: flex-end;
    padding: 2em 0 2em 3em;
}

nav ul {
    line-height: 2em;
}

button.arrowContainer {
    cursor: pointer;
    background: none;
    border: none;
    width: 0;
    height: 0;
}

.arrow {
    grid-area: arrow;
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    padding: 1em;
    margin: 80px 0 0 20px;
    border-radius: 50%;
    transition: background-color 200ms, color 200ms;
    color: white;
}

.arrow:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1375px) {
    a.single-family,
    a.multi-family {
        width: 32rem;
    } 
}

@media (max-width: 1230px) {
    /* .navbar {
        height: 45%;
    } */
}

@media (max-width: 1100px) {

    .home-selection {
        display: flex;
        flex-direction: column;
    }

    a.single-family {
        margin-bottom: 2em;
    }

    .testimonials {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "review1 review2"
        "review3 review3";
        font-size: 1em;
    }
    .review1 {
        grid-area: review1;
    }
    .review2 {
        grid-area: review2;
    }
    .review3 {
        width: 50%;
        grid-area: review3;
    }

    .footer {
        margin-top: 10%;
    }
    .navbar {
        margin-right: 20%;
        height: 44%;
        /* border: none; */
    }
}
    
@media (max-width: 1050px) {
    .testimonials {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "review1 review2"
        "review3 review3";
        font-size: 0.9em;
    }
}

@media (max-width: 1036px) {
    /* .navbar {
        height: 40%;
    } */
}

@media (max-width: 1036px) {
    .navbar {
        height: 155px;
    }
}

@media (max-width: 800px) {
    .title {
        position: absolute;
        bottom: 60%;
        font-weight: 100;
        color: white;
        font-size: 2rem;
    }

    .tagline {
        grid-area: tagline;
        padding-bottom: 0.5em;;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.11)
    }
    
    .tag {
        font-weight: 300;
        font-size: 1.5rem;
    }
    
    .line {
        font-weight: 100;
        font-size: 0.8em;
        width: 70%;
        padding: 1em;
        margin-left: 10%;
        line-height: 1.3em;
    }
    
    h3.reviews {
        font-size: 2.3em;
    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        font-size: 1.3em;
        grid-template-areas:
        "review1"
        "review2"
        "review3";
    }

    .review1 {
        grid-area: review1;
        width: 70%;
    }
    .review2 {
        grid-area: review2;
        width: 70%;
    }
    .review3 {
        grid-area: review3;
        width: 70%;
    }

    .review1,
    .review2,
    .review3 {
        font-size: 0.7em;
    }

    .footer {
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
        "navbar arrow"
        "statement statement"
        "legal legal";
    }
    .statement {
        text-align:center;
        font-size: 2.3rem;
        padding: 0;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .arrowContainer {
        width: 50%;
    }
    .navbar {
        margin-left: 3%;
        width: 100%;
        border: none;
        height: auto;
    }
    .legal {
        grid-area: legal;
        width: 50%;
        font-size: 0.6em;
        display: flex;
        padding: 2em 0 2em 3em;
        margin: auto;
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {
    a.single-family,
    a.multi-family {
        width: 22rem;
    } 
    a.single-family {
        margin-bottom: 2em;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        order: 1;
        padding: 0;
        margin-top: 1rem;
    }

    .statement {
        grid-area: statement;
        font-size: 2rem;
        width: 80%;
        padding: 0;
        order: 2;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
    }

    .legal {
        order: 3;
        margin: auto;
        margin-top: 2rem;
    }
    
    .arrow {
        display: none;
    }
}

/* SINGLE HOMES */
/* SINGLE HOMES */
/* SINGLE HOMES */
/* SINGLE HOMES */

#single-container {
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "header header"
    "s-welcome s-welcome"
    "single1 hd1"
    "hd2 single2"
    "single3 hd3"
    "hd4 single4"
    "footer footer";
}

div.single-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.single-home,
section.home-description {
    margin-top: 5%;
}

div.single-home:nth-of-type(4),
section.home-description:nth-of-type(4) {
    margin-bottom: 3%;
}

div.single-home:nth-of-type(1),
section.home-description:nth-of-type(1) {
    margin-top: 1%;
}

section.home-description {
    width: 75%;
    height: auto;
    display: flex block;
    justify-self: center;
    align-self:center;
}

section.home-description:nth-of-type(even) {
    margin-left: 25%;
    background-color: #E7D7C1;
    padding: 7% 0 7% 10%;
    border-radius: 1em;
}

section.home-description:nth-of-type(odd) {
    margin-right: 25%;
    background-color: #E7D7C1;
    padding: 7% 0 7% 10%;
    border-radius: 1em;
}

h1.s-welcome {
    height: auto;
    grid-area: s-welcome;
    display: flex block;
    justify-self: center;
    text-align: center; 
    font-weight: 300;
    font-size: 2.5em;
    width: 100%;
    flex-wrap: wrap;
    margin: 3% 0 3% 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.11);
    padding-bottom: 2%;
    width: 75%;
}

p.s-welcome-info {
    padding-top: 2%;
    font-weight: 200;
    font-size: 0.6em;
    width: 60%;
    /* margin-left: 25%; */
    margin: 0 19% 0 19%;
}

#s-home-1 {
    grid-area: single1;
    place-content: center;
}

#hd1 {
    grid-area: hd1;
}

#s-home-2 {
    grid-area: single2;
}

#hd2 {
    grid-area: hd2;
}

#s-home-3 {
    grid-area: single3;
}

#hd3 {
    grid-area: hd3;
}

#s-home-4 {
    grid-area: single4;
}

#hd4 {
    grid-area: hd4;
}

.s-page-img {
    width: 95%;
    border-radius: 0.2em;
    filter: brightness(100%);
    /* transition: filter 200ms; */
}

/* .s-page-img:hover {
    filter: brightness(100%);
} */

.green-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    margin-right: 0.5em;
}

.yellow-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    margin-right: 0.5em;
}

.home-info,
.green-dot,
.yellow-dot {
    display: inline-block;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.home-cost {
    margin-top: 0.3em;
    font-weight: 200;
    font-size: 2em;
    font-weight: 300;
}

.home-attributes {
    font-weight: 200;
    margin-top: 0.3em;
    font-size: 1.1em;
}

.home-location {
    margin-top: 0.3em;
    font-weight: 200;
    font-size: 1.5em;
}

a.home-contact {
    display: flex;
    font-size: 0.9em;
    font-weight: 100;
    margin-top: 5%;
}

sup.square {
    vertical-align: super;
    font-size: smaller;
}

span.dot {
    size: 10%;
}

span#mail-icon1,
span#mail-icon2,
span#mail-icon3,
span#mail-icon4 {
    color: black;   
    transform:translateY(-20%);
    transition: color 100ms, transform 200ms;
}

span#mail-icon1:hover,
span#mail-icon2:hover,
span#mail-icon3:hover,
span#mail-icon4:hover {
    color: white;   
    transform:translateY(-0.25em);
    /* border-bottom: 1px solid black; */
    /* box-shadow: 0 1.1em 1em 1px rgba(0, 0, 0, 0.191); */
}

/* MULTI HOMES */
/* MULTI HOMES */
/* MULTI HOMES */
/* MULTI HOMES */

#multi-container {
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
    "header header"
    "s-welcome s-welcome"
    "multi1 hd1"
    "hd2 multi2"
    "multi3 hd3"
    "hd4 multi4"
    "footer footer";
}

#m-home-1 {
    grid-area: multi1;
}

#m-home-2 {
    grid-area: multi2;
}

#m-home-3 {
    grid-area: multi3;
}

#m-home-4 {
    grid-area: multi4;
}

/* .fade-in {
    color: white;
    position: absolute;
    width: 24.5em;
    height: 16.3em;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.3em;
    filter: opacity(0);
    transition: filter 400ms, background-color 400ms;
}

.fade-in:hover {
    filter: opacity(100);
    background-color: rgba(0, 0, 0, 0.632);
}

.home-amenities {
    margin-top: 15%;
} */